---
import {Image} from 'astro:assets'
import Picture from "../atoms/Picture.astro";

// export type ProductType = { img: any, price: string, title: string, description: string }
interface Props {
    product: any
}

const {product: {img, title, price, description}} = Astro.props;
---
<div class="m-product">
    <span class="price">{price}€ <i class="i-custom:shop icon"/></span>
    <Picture src={img} alt={title} conf={{quality: 50}} className="about__img"/>

    <div class="info">
        <h3>{title}</h3>
        <p>{description}</p>
    </div>
</div>
<style>
    .m-product :global(.about__img) {
        width: 100%;
        height: auto;
        display: block;
        user-select: none;
        margin-bottom: 24px;
    }

    .price {
        position: absolute;
        top: 12px;
        right: 12px;
        font-size: var(--fs-x-small);
        font-family: var(--ff-body);
        font-weight: bold;
        padding-inline: 16px 12px;
        padding-block: 8px;
        background-color: rgba(17, 17, 15, .65);
        backdrop-filter: blur(10px);
        display: flex;
        align-items: center;
        gap: 8px;
    }

</style>