---
import {Image} from 'astro:assets'

export type ProductType = { img: Image, price: string, title: string, description: string }
interface Props {
    product: ProductType
}

const {product: {img, title, price, description}} = Astro.props;
---
<div class="m-product">
    <span class="price">{price}€ <i class="i-custom:shop icon"/></span>
    <Image
            src={img}
            alt="A bird sitting on a nest of eggs."
            formats={['webp']}
            decoding="async"
            loading="lazy"
            class='about__img'
    />
    <div class="info">
        <h3>{title}</h3>
        <p>{description}</p>
    </div>
</div>
<style>
     img {
        width: 100%;
        height: auto;
        display: block;
        border: 1px solid rgba(255, 255, 255, 0.05);
        user-select: none;
        margin-bottom: 24px;
    }

    .price {
        position: absolute;
        top: 12px;
        right: 12px;
        font-size: 14px;
        font-family: Inter;
        font-weight: bold;
        padding-inline: 16px 12px;
        padding-block: 8px;
        background-color: rgba(17, 17, 15, .65);
        backdrop-filter: blur(10px);
        display: flex;
        align-items: center;
        gap: 8px;
    }

</style>